<% cache do %>
  <%= image_tag 'home.png', :id => 'home_btn', :size => '20x20', :title => 'На главную страницу' %>
  <%= image_tag "me.jpg", :title => "Forever - Украина", :id => "my_pic", :size => "320x490" %>
  <section id="page_header">
    <div class="page_header_title"></div>
    <div class="page_header_separator">155.95</div>
  </section>
  <section id="page_content">
    <div id="pg1" class="pg">
      <p>
      На заводе Алоэ Вера оф Америка, принадлежащем компании, стабилизируется гель и производится вся продукция на основе Алоэ.
      Кроме того, компания является владельцем завода по производству продуктов пчеловодства, которые собираются в высокогорных
      степных районах Соноран в Аризоне, в одном из самых экологически благополучных мест в природе.
      Это объясняется исключительно чистым воздухом и водой, а также буйством цветущих растений.
      ФЛП производит целую гамму косметической продукции на основе чистого сока Алоэ Вера,
      применяя новейшие достижения в области косметологии.
      Многолетний опыт компании ФЛП показывает, что люди, которые попробовали нашу продукцию,
      отдают ей предпочтение в дальнейшем. Почему же это происходит?
      </p> 
      <p>
      Компания гарантирует своим покупателям полное удовлетворение качеством продукции.
      Наши продукты дают возможность ощутить разницу между "чувствовать себя хорошо" и
      "чувствовать себя прекрасно"! Попробуйте их и убедитесь сами!
      </p>
      <p>
      ФЛП производит целую гамму косметической продукции на основе чистого сока Алоэ Вера,
      применяя новейшие достижения в области косметологии.
      Многолетний опыт компании ФЛП показывает, что люди, которые попробовали нашу продукцию,
      отдают ей предпочтение в дальнейшем. Почему же это происходит?
      </p>
      <p>
      Другие компании предлагают напиток из Алоэ, изготавливаемый из всего листа.
      Затем он фильтруется, чтобы удалить элементы с сильными слабительными свойствами,
      которые содержатся в кожуре растения. ФЛП использует только мякоть листа и не подвергает
      ее дополнительной обработке, кроме стабилизации, сохраняя все ценные свойства Алоэ Вера.
      </p>
    </div>
  </section>
<% end %>
