<% cache do %>
  <%= image_tag 'home.png', :id => 'home_btn', :size => '20x20', :title => 'На главную страницу' %>
  <section id="page_header">
    <div class="page_header_title" style="font-size:16pt;color:black">Продукция</div>
    <div class="page_header_separator" style="font-size:16pt;color:black">для всех возрастов</div>
  </section>
  <section id="page_content">
    <div id="education_content">
      <div class="row1" style="font-size:23pt;color:white">Foreverliving - USA</div>
      <div class="row2">
        <div style="font-size:18pt;color:white"><span>Forever </span>Россия</div>
        <div style="font-size:18pt;color:white"><span>Forever </span>Украина</div>
      </div>
      <div class="row3">
        <div style="font-size:13pt;color:white"><span>Каталог</span>питание</div>
        <div style="font-size:13pt;color:white"><span>Каталог</span>косметика</div>
      </div>
    </div>
  </section>
<% end %>
