<% cache do %>
  <%= image_tag 'home.png', :id => 'home_btn', :size => '20x20', :title => 'На главную страницу' %>
  <section id="page_header">
    <div class="page_header_title">О компании</div>
    <div class="page_header_separator">Forever - Украина</div>
  </section>
  <section id="page_content">
    <div id="left_angled_bar">
      <div>Компания контролирует весь цикл производства из Алоэ.</div>
    </div>
    <div id="right_angled_bar">
      <div style="color:black">Самая большая компания в мире по выращиванию Алоэ.</div>
    </div>
    <div id="timeframe">2014</div>
    <table id="job_details">
      <tr id="job_description">
        <td class="left_pane">
          <div id="description_button" class="experience_btn">История</div>
        </td>
        <td class="right_pane">
          <ul>
            <li>Компания Форевер Ливинг Продактс (ФЛП) была образована ее владельцем господином Рэксом Манном в 1978 году.</li>
            <li>В 2000 году Рэкс инвестирует миллионы долларов в создание веб-сайта foreverliving.com, что ведет к появлению нового вида продаж — продажам по Интернету.</li>
            <li>Большинство потребителей продолжают употреблять продукцию уже на протяжении 26 лет.</li>
          </ul>
        </td>
      </tr>
      <tr id="selected_contributions">
        <td class="left_pane">
          <div id="selected_contributions_button" class="experience_btn">Бизнес</div>
        </td>
        <td class="right_pane">
          <ul>
            <li>ФОРЕВЕР ЛИВИНГ ПРОДАКТС — уникальная компания, использующая концепцию поощрений и поддержки розничной торговли своей продукции через всемирную сеть независимых Дистрибьюторов. Форевер Ливинг Продактс (ФЛП) представляет собой семейство связанных между собой компаний, распространяющих продукцию ФЛП по всему миру.</li>
            <li>Компания использует уникальный Командный Маркетинг Форевер. Компания ФЛП дает возможность своим Покупателям и Дистрибьюторам улучшить качество своей жизни, употребляя продукцию ФЛП, а также предоставляет равные условия к достижению успеха для каждого желающего работать по системе ФЛП.</li>
            <li>Выплаты бонусов (компенсация) в компании ФЛП основаны на продаже ее продукции.</li>
            <li>Независимые Дистрибьюторы на всех уровнях Маркетингового Плана Компании Форевер Ливинг Продактс поощряются за ежемесячные розничные продажи и ведение записей об этих продажах.</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
<% end %>
